body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#login-container {
  margin: 10% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #f6f8fa;
}

.navbar-nav .nav-link {
  border: none;
  border-radius: 10px;
}

.navbar-nav .nav-link:hover {
  border: none;
  border-radius: 10px;
  background-color: #a4dbff;
}

.navbar-nav .nav-link.active {
  border: none;
  border-radius: 10px;
  background-color: #0099ff;
}

/* #nav-tab {
  text-emphasis: bold;
  display: flex;
} */

h2 {
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2186c6;
}
